$orange: #f66600;

html, body {
  overflow-x: hidden;
}

body {
  color: #555;
  font: 400 15px 'Open Sans', sans-serif;
}

a {
  color: #555;
}

* {
  padding: 0;
  margin: 0;
  @include box-sizing(border-box);
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  @include container;
  padding-left: 15px;
  padding-right: 15px;
}

.menu {
  list-style: none;
  a {
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: $orange;
    }
  }
}

h2 {
  font-size: 21px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.visually-hidden, .breadcrumb__title, .element-invisible {
  display: none;
}

ul.tabs {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  a {
    border-bottom: 2px solid #9d9d9d;
    border-radius: 5px;
    display: block;
    font-weight: 600;
    text-decoration: none;
    background-color: #e8e8e8;
    padding: 9px 25px;
    transition: .3s;
    &.active,
    &:hover {
      color: #fff;
      background-color: $orange;
      border-bottom: 2px solid darken(#9d9d9d, 15%);
    }
  }
}

.breadcrumb {
  margin-bottom: 15px;
  a {
    color: $orange;
    font-weight: 600;
  }
}

#user-register-form, #user-login, #user-pass {
  @include container;
  label {
    display: none;
  }
  .form-item {
    max-width: 460px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 18px;
    &:before {
      content: '*';
      color: $orange;
      position: absolute;
      top: 9px;
      left: 8px;
    }
  }
  .description {
    display: none;
  }
  [type="text"], [type="password"] {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
  [type="submit"] {
    border: none;
    border-bottom: 2px solid #218f26;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: #45af4a;
    @include border-radius(5px);
    cursor: pointer;
    padding: 7.5px 60px;
    transition: .3s;
    &:hover {
      background-color: darken(#45af4a, 15%);
      border-bottom-color: darken(#218f26, 15%);
    }
  }
  ::-webkit-input-placeholder {
    color: #555;
    font-size: 15px;
    font-style: italic;
  }
  ::-moz-placeholder {
    color: #555;
    font-size: 15px;
    font-style: italic;
  }
  :-moz-placeholder {
    color: #555;
    font-size: 15px;
    font-style: italic;
  }
  :-ms-input-placeholder {
    color: #555;
    font-size: 15px;
    font-style: italic;
  }
}

#user-register-form {
  [type="submit"] {
    width: 165px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

#user-login {
  [type="submit"] {
    width: 165px;
    margin-top: 10px;
  }
}

#user-pass {
  [type="submit"] {
    width: 225px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.messages {
  color: #fff;
  width: 100%;
  background-color: #45af4a;
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  .messages__icon {
    display: none
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.block-views {
  .block__title {
    margin-top: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

[type="submit"] {
  background-color: #45af4a;
  border: none;
  border-radius: 5px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #218f26;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  transition: .35s;
  &:hover {
    background-color: #218f26;
    border-bottom-color: #45af4a;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.pager-show-more {
  margin-top: 20px;
  list-style: none;
  a {
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid #9d9d9d;
    background-color: #e8e8e8;
    display: block;
    width: 195px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: .35s;
    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }
}

.delimiter {
  padding-left: 4px;
  padding-right: 4px;
}

#block-nivo-slider-nivo-slider {
  .nivo-directionNav {
    > a {
      width: 36px !important;
      height: 37px !important;
    }
  }
  .nivo-prevNav {
    background: url("../images/nivo-prevNav.png") transparent no-repeat center center !important;
  }
  .nivo-nextNav {
    background: url("../images/nivo-nextNav.png") transparent no-repeat center center !important;
  }
}

.view-commerce-user-orders {
  margin-top: 25px;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  thead {
    background-color: #e8e8e8;
    .views-field {
      font-weight: 600;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  tbody {
    .views-field {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  table, th, td {
    border: 1px solid #c1c1c1;
  }
  .views-field {
    text-align: center;
  }
}
