@import "compass/css3";
@import "susy";

$susy: (
        container: 1140px,
        columns: 12,
        gutters: 0,
);

@font-face {
  font-family: 'PTRoubleSerif';
  src: url('../fonts/PTRoubleSerif.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTRoubleSerif.otf') format('opentype'),
  url('../fonts/PTRoubleSerif.woff') format('woff'),
  url('../fonts/PTRoubleSerif.ttf') format('truetype'),
  url('../fonts/PTRoubleSerif.svg#PTRoubleSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}

$rub: 'PTRoubleSerif';

@import "mixin";
@import "flex";
@import "reset";
@import "base";
@import "hamburgers";
@import "justifiedGallery.min";